<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js">
    </script>
</head>
<body>

    <nav>
        <div class="nav-wrapper lime darken-4">
            <a href="#" class="brand-logo center ">Donatello</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a asp-controller="Home" asp-action="Index">Boards</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
